*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: auto;
  padding: 133px 30px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.result {
  max-width: 711px;
  max-height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 78px;
  gap: 16px;
  top: 0;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  max-height: 386px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  align-items: end;
  gap: 40px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  max-height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  scrollbar-width: none;
  padding: 2px;
}

.button {
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 34px;
  padding: 0;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}


.search-form__label-text {
  text-indent: 5px;
  align-self: end;
}

.title{
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
  
}

.content__video-card {
  display: flex;
}

.content__list-item {
  max-height: 107px;
}

.content__video-card-description-container {
  width: 200px;
  height: 107px;
}

.content__video-card-thumbnail {
  width: 194px;
  max-height: 103px;
  align-self: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.preloader-template {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}

.search-form__label:has(.search-form__checkbox) {
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  outline: none;
  width: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
  background-color: inherit;
  caret-color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield) {
  width: 100%;
}

.search-form__label:has(.search-form__checkbox) {
  max-height: 19px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.search-form__pseudo-checkbox {
  align-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  width: 19px;
  height: 19px;
  outline-offset: -2.5px;
  outline: 1.5px solid #1b1919;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  border: 1px solid #fff;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: #fff;
}

.content__card-link_current:active {
  background-color: rgba(84, 80, 80, 1);
}